<ion-header>
  <ion-toolbar color="miestilo">
    <ion-title>{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/img/{{image}}">
  </ion-card>
  <div class="card-body">
    <h2>{{ name }}</h2>
    <p>{{ description }}</p>
  </div>

  <div class="carrusel">
    <article class="card">
      <h2>{{ name }}</h2>
    </article>
    <article class="card">
      <h2>{{ name }}</h2>
    </article>
    <article class="card">
      <img src="../../assets/img/{{image}}">
    </article>
    <article class="card">
      <h1>hola</h1>
    </article>
    <article class="card">
      <h1>hola</h1>
    </article>
    <article class="card">
      <h1>hola</h1>
    </article>
  </div>
</ion-content>