<!--Se manda el dato name de un jsno asia el componente app-header mencionando la variable declarada en el @Input y mandandole un valor
que en este caso son los elementos name de un json-->
<app-header title="{{ name }}"></app-header>





<ion-content>
  <ion-card>
    <img src="../../assets/img/{{image}}">
  </ion-card>
  <div class="card-body">
    <h2>{{ name }}</h2>
    <p>{{ description }}</p>

    <h2>Cosas que puedes hacer</h2> 
  </div>

  
  <div class="carrusel">
    <article class="card" *ngIf="cosa1 ! '' ">
      <h2>{{ cosa1 }}</h2>
      <ion-icon class="icono" name="{{icon1}}"></ion-icon>

    </article>
    <article class="card" *ngIf="cosa2 ! '' ">
      <h2 >{{ cosa2 }}</h2>
      <ion-icon class="icono" name="{{icon2}}"></ion-icon>

    </article>
   <article class="card" *ngIf="cosa3 ! '' ">
      <h2 >{{cosa3}}</h2>
      <ion-icon class="icono" name="{{icon3}}"></ion-icon>

    </article>
    <article class="card" *ngIf="cosa4 ! '' ">
      <h2>{{cosa4}}</h2>
      <ion-icon class="icono" name="{{icon4}}"></ion-icon>
    </article>

    <article class="card" *ngIf="!cosa1 "> <!--Aqui el if declara que si cosa1 es falso o vacio que lo muestre-->
      <h2>Proximamente</h2>
      <ion-icon class="icono" name="alert-circle"></ion-icon>
    </article>    
  </div>
</ion-content>