ion-toolbar{
    background-color: var(--ion-color-miestilo);
}
ion-title{
    color: white;
}
.centrar{
    display: flex;
    align-items: center;
    justify-content: center ;
}
.btn{
    background-color: var(--ion-color-miestilo-shade);
    color: rgb(255, 255, 255);
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    margin:  0.5rem;
}
.icono{
    cursor: pointer;
    font-size: 1.5rem;
}
.icono:hover{
    border-radius: 50%;
    padding: 1px;
    color: white;
    background-color: gray;
}
.btn:hover{
    box-shadow: -1px 6px 32px 0px rgba(0,0,0,0.74);
    -webkit-box-shadow: -1px 6px 32px 0px rgba(0,0,0,0.74);
    -moz-box-shadow: -1px 6px 32px 0px rgba(0,0,0,0.74);
}