<ion-header>
  <ion-toolbar color="miestilo">
    <ion-title>Customers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
   <ion-list-header>
    Recent Conversations
   </ion-list-header>

   <!-- Aqui en el ion item se usa una condicion for para poder pasar por cada uno de los elementos del arreglo users, 
dentro de esta condicion se define una variable la cual sera la que se le asigne el valor del objeto del lado derecho -->
   <ion-item *ngFor="let user of users">

    <ion-avatar slot="start">
      <!-- Para aser referencia a los datos del JSON es mediante doble llave y la variable que se definio en el ngFor y mediante el punto 
      se recorre por los datos-->
      <img src="../../assets/customers-img/{{user.image}}">
    </ion-avatar>

    <ion-label>
      <h2>{{ user.name }}</h2>
      <h3>{{ user.state }}</h3>
      <p>{{ user.description }}</p>

    </ion-label>
    <ion-avatar slot="end">
      <ion-icon class="icono" name="trash"></ion-icon>
    </ion-avatar>
   </ion-item>

   
  </ion-list>
  <div class="centrar">


    <!--Boton con tyscript para ir a otra pagina-->
    <!--Se cambio la etiqueta ya que asi no se podria asignar le estilos propios y se metio en un div para poder centrar lo -->
    <button class="btn" ion-button (click)="goToHome()">Go to home</button>
  </div>
</ion-content>